* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button{
    border: none;
}

h3:hover{
    cursor: default;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background: #ffffff;
    border-bottom: 1px solid #e2e2e26e;
    padding: 30px 0px;
}

.logo img {
    max-width: 180px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-position: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    margin: 0px 15px;
    color: #000000;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.menu li {
    position: relative;
}

.menu li a:hover {
    color: #0000007c;
    text-decoration: none;
}

.userDropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
}

#logoutBtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #eeeeee;
    width: 100%;
    text-align: left; 
}

.userDropdown-content {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    overflow: auto;
    z-index: 998;
}

.userDropdown-content strong {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 600;
}

.userDropdown-content li a {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
}


.userShow {
    display: block;
}


/*navbtns*/
.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
}

.nav-btns a {
    color: #181818;
    font-size: 1rem;
}

.nav-btns label {
    color: #181818;
    cursor: pointer;
}

.nav-search form {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #14141446;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-search-btn:checked~.nav-search form {
    display: flex;
}

#nav-search-btn {
    display: none;
}

.nav-search-close i {
    color: #ffffff;
}

.nav-search-box {
    max-width: 600px;
    width: 90%;
    height: 45px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.12);
    padding: 0px 2.5px;
}

.nav-search-box button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0f87f8;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-search-box input {
    width: 90%;
    padding: 0px 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.nav-search-close {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    margin-bottom: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 50%;
}


/* Log In Form */
body.login-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


body.login-page .logInForm {
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.logInButton {
    background-color: #000000; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.logInButton:hover {
    background-color: #6e6e6e; 
}

.signUpButton {
    background-color: #a5a5a5; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.signUpButton:hover {
    background-color: #000000; 
}

p {
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#sign-up-form {
    display: none;
}

#login-form {
    display: block;
}

#login-form, #sign-up-form {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN PAGE Details */
.collection {
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
}

.r-collection-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px;
    width: 100%;
    margin: 20px auto;
}

.r-collection-box {
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 20px 10px;
    transition: all ease 0.3s;
}

.r-collection-box:hover {
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(60deg, rgb(255, 255, 255), rgb(0, 0, 0));
}

.r-collection-box .r-collection-img {
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.r-collection-box .r-collection-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.r-collection-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.collection .news-heading {
    background-color: #f5f5f5;
    border: 1px solid rgb(236, 236, 236);
    padding: 10px 20px;
    border-radius: 5px;
}

.r-collection-text .collection-box-p-name,
.collection-text .collection-box-p-name {
    color: #313131;
    font-size: 1.2rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.r-collection-text .p-box-category,
.collection-text .p-box-category {
    font-size: 0.9rem;
    color: #4e4e4e;
}

.r-collection-text a{
    text-decoration: none;
}

/*News Boxes*/
.related-news {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
}

.related-news .news-heading {
    background-color: #f5f5f5;
    border: 1px solid rgb(236, 236, 236);
    padding: 10px 20px;
    border-radius: 5px;
}

.news-heading a {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

.r-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    width: 100%;
    margin: 20px auto;
}

.r-news-box {
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding: 20px 10px;
    transition: all ease 0.3s;
}

.r-news-box:hover {
    box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.3);
}

.r-news-box .r-news-img {
    width: 90%;
    height: 300px;
    object-fit: cover;
}

.r-news-box .r-news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.r-news-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    line-height: 1.5;
}

.r-news-text .news-box-p-name,
.news-box-p-name {
    text-decoration: none;
    color: #313131;
    font-size: 1rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* NEWS details */
#news-details {
    display: block;
    max-width: 1000px;
    width: 90%;
    margin: 50px auto;
}

.main-news-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-news-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.main-news-text {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    justify-content: flex-start;
}

.main-news-text .category {
    color: #f80f0f;
    font-size: 0.9rem;
}

.main-news-text strong {
    color: #000000;
    font-weight: 700;
    font-size: 3rem;
}

.main-news-text p {
    color: #bbbbbb;
    font-size: 0.9rem;
    line-height: 1;
    text-align: justify;
}

.m-news-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;    
}

.m-news-text span{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 30px;
    line-height: 3;
}

.m-news-text p{
    font-size: 0.9rem;
    line-height: 1;
}

.video-frame {
    width: 100%; 
    max-width: 800px;
    height: 450px; 
    border: none; 
    display: block; 
    margin: 20px auto;
}

/*footer*/
footer {
    background-color: #141414;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0px;
    line-height: 2;
}

.footer-company-box,
.footer-subscribe {
    max-width: 330px;
}

.footer-company-box .footer-logo {
    color: #ffffff;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.footer-company-box p,
.footer-subscribe p {
    color: #dfdfdf;
    margin: 5px 0px;
}

.footer-link-box strong,
.footer-subscribe strong {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
}

.footer-link-box ul {
    margin-top: 5px;
}

.footer-link-box ul li a {
    color: #b8b8b8;
    text-decoration: none;
    font-weight: 500;
}

.footer-link-box ul li a:hover {
    color: #ffffff;
}

.subscribe-box {
    width: 100%;
    border: 1px solid #535353;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.subscribe-box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 15px;
    color: #ffffff;
}

.subscribe-box button {
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    padding: 0px 20px;
    padding: 0px 20px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-top: 1px solid #1f1f1f;
    padding: 20px 0px;
    margin: auto;
    background-color: #141414;
}

.footer-bottom span {
    color: #c4c4c4;
    font-size: 0.9rem;
}

.menu-icon,
.menu-btn {
    display: none;
}

/*RESPONSIVENESS*/
@media(max-width:1520px) {
    .show{
        margin-top: 460px;
    }

}

@media (max-width: 1100px) {

    .r-collection-container {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media(max-width:1300px) {
    .dropdown{
        display: none;
    }

    .userDropdown{
        margin-right: 100px;
    }

}

@media (max-width: 1200px) {
    .footer-subscribe{
        display: none;
    }
}

@media (max-width: 870px) {
    .navigation {
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        z-index: 103;
        position: relative;
    }

    .logo img {
        height: 30px;
    }

    .navigation .menu {
        display: none;
        position: absolute;
        left: 0px;
        top: calc(100% + 1px);
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.05);
    }

    .menu li {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .menu li a {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 20px;
        border-bottom: 1px solid #e2e2e26e;
    }

    .menu li a:hover{
        text-decoration: none;
    }

    .menu-icon {
        display: block;
    }

    .navigation .menu-icon {
        cursor: pointer;
        float: right;
        padding: 10px 0px;
        position: relative;
        user-select: none;
        z-index: 106;
    }

    .navigation .menu-icon .nav-icon {
        background-color: #181818;
        display: block;
        position: relative;
        height: 2px;
        transition: background 0.2s ease-out;
        width: 25px;
    }

    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after {
        background-color: #181818;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all ease-out 0.2s;
    }

    .navigation .menu-icon .nav-icon::before {
        top: 9px;
    }

    .navigation .menu-icon .nav-icon::after {
        top: -9px;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon {
        background-color: transparent;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0px;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0px;
    }

    .navigation .menu-btn:checked~.menu {
        display: block;
    }

    .video-frame {
        height: 400px; 
        width: 98%;
    }

    .r-collection-box {
        grid-template-columns: 100px 1fr;
    }

}

@media(max-width:750px) {
    .r-collection-container {
        grid-template-columns: 1fr;
    }

    .r-collection-box {
        grid-template-columns: 80px 1fr;
    }
}

@media(max-width: 540px){
    footer{
        display: none;
    }
}


@media(max-width:820px) {
    #news-details {
        grid-template-columns: 1fr;
    }

    .main-news-text {
        padding: 0px;
        margin-top: 30px;
    }

    .video-frame{
        width: 96%;
    }
}

@media(max-width:724px) {
    .main-news-text strong {
        font-size: 1.4rem;
    }
    .userDropdown{
        margin-right: 50px;
    }

    .video-frame{
        width: 82%;
        height: 300px;
    }
    
}


@media(max-width:500px) {
    .logo {
        max-width: 120px;
    }
    .footer-container {
        grid-template-columns: 1fr;
    }

    .video-frame{
        width: 88%;
        height: 220px;
    }
}

@media(max-width:320px) {
    #main {
        min-height: 350px;
    }

    .nav-user {
        display: none;
    }
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width:1024px){
    .modal{
        width: 900px;
    }    
}

@media screen and (max-width:820px){
    .modal{
        width: 800px;
    }
        
}

@media screen and (max-width:712px){
    .modal{
        width: 800px;
    }
}

@media screen and (max-width:540px){
    .modal{
        width: 500px;
    }       
}


@media screen and (max-width:375px){
    .modal{
        width: 400px;
    }
    .userDropdown{
        margin-right: 20px;
    }
}
